    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
        <li><%= link_to "Get-togethers", main_app.gettogethers_path %> </li>
        <li><%= link_to "Forums", forem.forums_path %> </li>

        <% if params[:controller].include? "forem" %>
          <% if current_educator %>
            <li> <%= link_to "My Profile", main_app.educator_path(current_educator.id) %>
            <li><%= link_to "Sign Out",  main_app.destroy_educator_session_path, method: :delete %> </li>
          <% else %>
            <li><%= link_to "Sign In",  main_app.new_educator_session_path %> </li>
            <li><%= link_to "Sign Up",  main_app.new_educator_registration_path %> </li>
          <% end %>
        <% end %> 
      </ul>
      <h3 class="text-muted logoized"><%= link_to "kohwop", main_app.root_path %></h3>
      
    </div>
    <hr>