    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
        <li><%= link_to "Forums", forem.forums_path %> </li>

          <% if current_educator %>
            <li> <%= link_to "My Profile", educator_path(current_educator.id) %>
            <li><%= link_to "Sign Out",  destroy_educator_session_path, method: :delete %> </li>
          <% else %>
            <li><%= link_to "Sign In",  new_educator_session_path %> </li>
            <li><%= link_to "Sign Up",  new_educator_registration_path %> </li>
          <% end %>

      </ul>
      <h3 class="text-muted"><%= link_to "Kohwop", root_path %></h3>
    </div>