<h1>Listing students</h1>

<div id="students">
  <table>
    <thead>
      <th>Name</th>
      <th>Grade</th>
      <th>Gender</th>
      <th>Birthday</th>

      <th></th>
      <th></th>
      <th></th>
    </thead>


    <% @students.each do |student| %>
    <tr>
        <td>  <%= student.name %> </td>
        <td>  <%= student.grade %> </td>
        <td>  <%= student.gender %> </td>
        <td>  <%= student.birth %> </td>

        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student.id) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

  </table>

  <%= link_to 'Add a Student', new_student_path %>
</div>