<p id="notice"><%= notice %></p>

<%= @student.name %>
<%= @student.grade %>
<%= @student.gender %>
<%= @student.birth %><br>

<h5><%= @student.name %>'s Study Plan</h5><br>
<h6>Uncompleted outcomes</h6><br>
    <table>
        <thead>
          <th>Subject</th>
          <th>Grade Level</th>
          <th>Description</th>
          <th>Due Date</th>
          <th></th>
          <th></th>
        </thead>
        <% @outcomes_tbd.each do |outcome| %>
        <tr>
            <td>  <%= outcome.subject %> </td>
            <td>  <%= outcome.grade_level %> </td>
            <td>  <%= outcome.description %> </td>
            <td>  <%= outcome.due_date %> </td>

            <td><%= link_to 'Show', outcome_path(outcome.id) %></td>
            <td><%= link_to 'Edit',  edit_outcome_path(outcome.id) %></td>
            <td><%= link_to 'Destroy', outcome, method: :delete, data: { confirm: 'Are you sure?' } %></td
        </tr>
      <% end %>
    </table>

  <h6>Finished Outcomes</h6>
  <table>
    <thead>
      <th>Subject</th>
      <th>Grade Level</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Finish Date</th>
      <th></th>
      <th></th>
    </thead>


    <% @outcomes_done.each do |outcome| %>
    <tr>
        <td>  <%= outcome.subject %> </td>
        <td>  <%= outcome.grade_level %> </td>
        <td>  <%= outcome.description %> </td>
        <td>  <%= outcome.due_date %> </td>
        <td>  <%= outcome.finish_date %> </td>

        <td><%= link_to 'Show', outcome_path(outcome.id) %></td>
        <td><%= link_to 'Edit',  edit_outcome_path(outcome.id) %></td>
        <td><%= link_to 'Destroy', outcome, method: :delete, data: { confirm: 'Are you sure?' } %></td
    </tr>
  <% end %>
  </table>

<%= link_to 'Add a new Outcome', new_outcome_path %><br>
<%= link_to 'Edit Student Profile', edit_student_path(@student) %> <br>
<%= link_to 'Back', students_path %><br>


