<h1> Get-togethers!</h1>
<p>Here are some Get-togethers you may be interested in.</p>

<div class="calendar_box" id="weekly_cal">

<div class="span6 center"> <h3> <%= weekly_links(:date => @date) %> </h3>  </div>


<%= weekly_calendar(@events, :date => @date, :include_24_hours => true) do |w| %>
  <%= w.week(:business_hours => params[:business_hours], :clickable_hours => true) do |event,truncate| %>

    <%=  event.start_time.strftime('%I:%M%p') %>
    <%=  link_to event.name, gettogether_path(event.id) %>
    <% end %>
  <% end %>

</div>
<div class="well"> 

  <h3> Or you can make a new one: </h3>
<p> <%= link_to "New Get-Together", new_gettogether_path, class: "btn btn-info" %> 


</div>