
<h2><%= @gtg.name %></h2>


<div class='clearfix'> 
  <h3> Come join us! </h3> 

   <% if @gtg.picture != '' && @gtg.picture %>
      <div class="col-12">
        <%= image_tag @gtg.picture  %>
      </div>

    <% end %>
  <p class='gtg-desc'> <%= @gtg.description %></p> 
  <div class="col-4 col-offset-2"> 
  <table class="table table-striped table-bordered">
    <tr> 
      <td> Start time:  </td><td> <%= @gtg.start_time.strftime("%A, %B %-d, %Y %-l:%M %P") %> </td>
    </tr>
    <tr> 
      <td> End time:  </td><td> <%= @gtg.start_time.strftime("%A, %B %-d, %Y %-l:%M %P") %> </td>
    </tr>
    <tr> 
      <td> Location:  </td><td> <%= raw "#{@gtg.address} <br> #{@gtg.city}, #{@gtg.state}" %> </td>
    </tr>
  </table>

   <div class="gtg-map">
    <img class="img-rounded" src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @gtg.latitude %>,<%= @gtg.longitude %>&zoom=14&size=300x300&sensor=false&markers=color:blue%7Clabel:I%7C<%= @gtg.latitude %>,<%= @gtg.longitude %>&key=AIzaSyCSCtCnx4v9t1dbUR8L6In6dXZFSkuvne8"></img>


   </div>
  <% if @educators.size > 0 %>
  <h4> These homeschoolers are coming, too! </h4> 

  <ul>  
    <% @educators.each do |ed|  %>
      <li> <%= link_to  ed.username , educator_path( ed.id) %></li> 

    <% end %>

  </ul>   

  <% else  %>
    <h4> Be a "Get-together Trailblazer" </h4>
    <p> and bring a friend along, too! </p> 


  <% end %>
  <%= form_tag "#{root_url}/add_attendee", method: 'post' do %>
    <%= hidden_field_tag "eid", current_educator.id %>
    <%= hidden_field_tag "gid", @gtg.id %>

    <%= button_tag "Let's do it!", class: "btn btn-success" %>

  <% end %>
  </div>
</div>

