<h1>Supply Cabinet</h1>

<table>
  <thead>
    <th>Name</th>
    <th>Subject</th>
    <th>Grade</th>
    <th>Submitted by:</th>
    <th></th>
    <th></th>
  </thead>


  <% @public_resources.each do |resource| %>
  <tr>
      <td>  <%= resource.name %> </td>
      <td>  <%= resource.subject %> </td>
      <td>  <%= resource.grade_level %> </td>
      <td>  <%= resource.educator.username %> </td>

      <td><%= link_to 'Show', resource %></td>
      <td><%= link_to 'Edit', resources_edit_path(resource.id) %></td>
      <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td
  </tr>
<% end %>


</table>

<br />

<%= link_to 'New Resource', new_resource_path %>
