<h1>The Supply Cabinet</h1>

<table>
  <thead>
    <th>Grade</th>
    <th>Subject</th>
    <th>Description</th>
    <th>Submitted by:</th>
    <th></th>
    <th></th>
  </thead>


  <% @public_resources.each do |resource| %>
  <tr>
      <td>  <%= resource.grade_level %> </td>
      <td>  <%= resource.subject %> </td>
      <td>  <%= resource.name %> </td>
      <td>  <%= resource.educator.username %> </td>

      <td><%= link_to 'Show', resource %></td>
  </tr>
<% end %>


</table>

<br />

